/* Base */
body {
	margin: 0;
	font-family: 'Segoe UI', sans-serif;
	background-color: #fffaf5;
	color: #333;
  }
  
  .container {
	max-width: 900px;
	margin: 0 auto;
	padding: 1rem;
  }
  
  /* Header */
  header {
	background-color: #078de7;
	padding: 1rem 0;
  }
  
  header h1 {
	margin: 0;
	font-size: 2.2rem;
	text-align: center;
  }
  
  nav ul {
	list-style: none;
	display: flex;
	justify-content: center;
	gap: 1.5rem;
	padding: 0;
	margin-top: 1rem;
  }
  
  nav a {
	text-decoration: none;
	color: #5c2d2d;
	font-weight: bold;
  }
  
  /* Sections */
  section {
	margin-top: 3rem;
  }
  
  h2 {
	color: #8b3a3a;
  }
  
  /* Services */
  #services ul {
	list-style: disc;
	padding-left: 1.5rem;
  }
  
  /* Galerie */
  .gallery {
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
  }
  
  .gallery img {
	width: 100%;
	max-width: 280px;
	border-radius: 10px;
	box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  }
  
  /* Form */
  form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
  }
  
  form input, form textarea {
	padding: 0.7rem;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 1rem;
  }
  
  form button {
	padding: 0.8rem;
	background-color: #c4c4c4;
	border: none;
	border-radius: 5px;
	font-weight: bold;
	cursor: pointer;
  }
  
  form button:hover {
	background-color: #f10000;
  }
  
  /* Footer */
  footer {
	background-color: #b6b6b6;
	padding: 1.5rem 0;
	text-align: center;
	margin-top: 4rem;
  }
  
  footer a {
	color: #8b8b8b;
	text-decoration: none;
  }
  